<%layout('layout/boilerplate')%>
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Error! - <%= statusCode %></h4>
    <hr>
    <p><%= err.message %></p>
    <hr>
    <!-- <p class="mb-2"><%= err.stack %></p> -->
</div>